<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
    <nav class="container navBar">
        <a href="https://josesx506.github.io/Odin_Project_FS/">
            <h2>Odin Home</h2>
        </a>
        <a href="<%= locals.baseUrl %>">
            <h2>Message Board</h2>
        </a>
    </nav>
</head>