<!DOCTYPE html>
<html lang="en">
<%- include('partials/header', { title: title }) %>
<body>
    <div class="container error">
        <h3>404 Error</h3>
        <div><%= error %></div>
        <div><%= `Invalid Post id: ${id}` %></div>
    </div>
</body>
</html>